{% extends "base_generic.html" %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}
    <div class="bg-image bg p-5 text-center shadow-1-strong mb-3 text-black"
         style="background-image: url('{% static 'media/loginBackground.jpg' %}');"
    >
        <div class="container d-flex justify-content-center ">
            <div class="row shadow-lg p-3 mb-5 bg-body rounded mw-50" style=" background-color: white;">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="col-12 login mb-4">
                        {{ form|crispy }}
                        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
                        <button type="submit" class="btn btn-primary mt-2">Sign in</button>
                    </div>
                </form>
                 <p>Dont have an account?<a href="{% url 'register' %}"> Register</a></p>
            </div>

        </div>
    </div>

{% endblock %}
