{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>{{ book.author }}</title>{% endblock %}
{% block content %}
    <div class="container-md">
        {% if user.is_authenticated %}
            {% if perms.catalog.can_mark_returned %}
                <div class="container d-flex justify-content-end">
                    <div class="btn-group " role="group" aria-label="Basic mixed styles example">
                        <a href="{% url 'book-update' book.pk %}">
                            <button type="button" class="btn btn-primary me-2">Update</button>
                        </a>
                        <br>
                        <a href="{% url 'book-delete' book.pk %}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <figure class="text-center">
            <blockquote class="blockquote">
                <h1> {{ book.title }} </h1>
            </blockquote>
            <figcaption class="blockquote-footer" style="font-size:20px ">
                <a href="{{ book.author.get_absolute_url }}" style="text-decoration:none;">{{ book.author }}</a>
            </figcaption>
        </figure>

        <div class="container justify-content-center w-100">
            {% if book.image %}
                <img src="{{ book.image.url }}" class="bookdetail img-fluid" alt="book cover"/>
            {% else %}
                <img src="{% static 'media/book-default.jpg' %}" class="card-img-top img-fluid bookdetail"
                     alt="book cover">
            {% endif %}
        </div>
        <br>
        <div class="accordion" id="accordionSummary">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Summary
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                     data-bs-parent="#accordionSummary">
                    <div class="accordion-body">
                        {{ book.summary }}
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <ul style="list-style: none;">
                <li>
                    <p><strong>Genre:</strong> {{ book.genre }} </p>
                </li>
                <li>
                    <p><strong>Language:</strong> {{ book.language }}</p>
                </li>
                <li>
                    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}