{% extends 'base_generic.html' %}
{% load static %}
{% load cloudinary %}
{% load cloudinary_static %}
{% block title %}<title>{{ user.get_username }}</title>{% endblock %}
{% block content %}
    <div class="container-md py-2 mt-4">
        <div class="row mb-5 me-3">
            <div class="col-9 col-md-5 d-flex justify-content-center">
                {% if user.profile.avatar %}
                    <img class="rounded-circle account-img w-50 profileform" src="{{ user.profile.avatar.url }}"
                         alt="avatar"/>
                {% else %}
                    <img src="{% static 'media/default.png' %}" class="rounded-circle account-img w-50 profileform"
                         alt="avatar">
                {% endif %}
                <a href="{% url 'users-profile' %}">
                    <button class="btn btn-outline-secondary">Update</button>
                </a>
            </div>
            <div class="col-12 col-md-11 mt-3 ms-3" style="background-color: white">
                <p class="name"> Username: </p>
                <p class="detail"><span style="font-weight: normal">@</span>{{ user.get_username }}</p>
            </div>
            <div class="col-12 col-md-11 mt-3 ms-3" style="background-color: white">
                <p class="text-break name"> Bio: </p>
                <p class="detail">{{ user.profile.bio }} </p>
            </div>
            <div class="col-12 col-md-5 ms-3 mt-3 me-5 " style="background-color: white">
                <p class="name"> First Name: </p>
                <p class="detail">{{ user.first_name }} </p>
            </div>
            <div class="col-12 col-md-5 mt-3 ms-3" style="background-color: white">
                <p class="name"> Last Name: </p>
                <p class="detail">{{ user.last_name }} </p>
            </div>
            <div class="col-12 col-md-5 ms-3 mt-3 me-5 " style="background-color: white">
                <p class="name"> E-mail: </p>
                <p class="detail">{{ user.email }} </p>
            </div>
            <div class="col-12 col-md-5 mt-3 ms-3" style="background-color: white">
                <p class="name"> Nationality: </p>
                <p class="detail"> {{ user.profile.nationality }} </p>
            </div>
            <div class="col-12 col-md-5 ms-3 mt-3 me-5 " style="background-color: white">
                <p class="name"> Fav Genre: </p>

                <ul class="detail">
                    {% for genre in user.profile.favourite_genre.all %}
                        <li class="list">
                            {{ genre }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}