{% extends "base_generic.html" %}
{% load crispy_forms_filters %}
{% block title %}<title>Register</title>{% endblock %}
{% block content %}
    <!--Register-->
    <div class="container py-5 ms-4 ">
        <div class="container d-flex justify-content-center mb-3" style="text-decoration: underline;">
            <h3>Registration form</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="row" style="border-left:2px solid #1e5553; border-right:2px solid #1e5553;">
                <div class="form-group col-12 col-md-6 mb-0">
                    {{ register_form.username|as_crispy_field }}
                </div>

                <div class="form-group col-12 col-md-6 mb-0">
                    {{ register_form.email|as_crispy_field }}
                </div>
                <div class="form-group col-12 col-md-6 mb-0">
                    {{ register_form.first_name|as_crispy_field }}
                </div>

                <div class="form-group col-12 col-md-6 mb-0">
                    {{ register_form.last_name|as_crispy_field }}
                </div>

                <div class="form-group col-12 col-md-6 mb-0">
                    {{ register_form.password1|as_crispy_field }}
                </div>
                <div class="form-group col-12 col-md-6 mb-0">
                    {{ register_form.password2|as_crispy_field }}
                </div>
            </div>
            <div class="container d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        <p class="text-center">Already have an account? <a href="/login">login</a> instead.</p>
    </div>


{% endblock %}